<ul ngbNav #nav="ngbNav" class="customNav nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>About</a>
    <ng-template ngbNavContent><app-test></app-test></ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Hiking</a>
    <ng-template ngbNavContent><app-test-two></app-test-two></ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Weather</a>
    <ng-template ngbNavContent><app-test-three></app-test-three></ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink >Trivia</a>
    <ng-template ngbNavContent><app-test-four></app-test-four></ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>

