<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>First</a>
    <ng-template ngbNavContent><app-test></app-test></ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Second</a>
    <ng-template ngbNavContent><app-test-two></app-test-two></ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Third</a>
    <ng-template ngbNavContent><app-test-three></app-test-three></ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Fourth</a>
    <ng-template ngbNavContent><app-test-four></app-test-four></ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>

<h1>
  Welcome to {{ title }}!
</h1>
 
<p>This para is from app component</p>
 
