.quiz-buttons {
    font-size: 40px;
    background-color: white;
    color: black;
    padding: 5px;
}

.white-text {
    font-size: 50px;
    color: white;
    padding: 7%;
}

.center-of-div {
    text-align: center; 
}

