<div>
    <h1 class="white-text center-of-div" id="questionSpace">Would you like to put your knowledge to the test?</h1>
    <div id="initialsInput"></div>
    <div id="submitInitials"></div>
    <ul id="scorer-list"></ul>
    <div id="choiceSpace" class="center-of-div"></div>
    <div id="choiceSpace1" class="center-of-div"></div>
    <div id="choiceSpace2" class="center-of-div"></div>
    <div id="try-again" class="center-of-div"></div>

    <div class="center-of-div">
        <button (click)="startQuiz()" class="btn btn-primary quiz-buttons" id="strButton">Indeed</button>
        <div id="timer"></div>
    </div>
</div>