.quiz-buttons {
    font-size: 40px !important;
    background-color: rgb(167, 56, 169)!important;
    color: white !important;
    border: none !important;
}

.white-text {
    font-size: 50px;
    color: white;
    padding: 7%;
}

.center-of-div {
    text-align: center; 
}

