.quiz-buttons {
    font-size: 40px !important;
    background-color: white !important;
    color: black !important;
}

.white-text {
    font-size: 50px;
    color: white;
    padding: 7%;
}

.center-of-div {
    text-align: center; 
}

